header{
    text-align: center;
}
body{
    font-family: 'Roboto', sans-serif; 
    background: linear-gradient(to top left, rgb(126, 231, 245), rgb(247, 173, 185));
    padding:40px;
}

h2{
    text-decoration: underline;
    padding:10px;
    color:rgb(175, 73, 73)
}
ul{
    list-style: none;
}
p{
    padding:10px;
    margin:10px;
}
img{
    border-radius: 10px;
}
footer{
    background: linear-gradient(90deg, rgba(179, 165, 241, 0.816) 0%, rgba(141, 107, 235, 0.9) 26%, rgba(0, 142, 171, 0.9529061624649859) 75%, rgba(0, 118, 142, 1) 100%);
    padding:10px;
    text-align: center;
    border-radius: 10px;
}
.link-list {
    display:flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin: 10px;
}
.animal-image-list{
    display:flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-top: 10px;
}
.fact-list{
    border:solid;
    border-radius: 10px;
    
}
.fact-item{
    padding:10px;
    margin:10px;
    
}
.bio-content{
    width: 400px;
    height: 160px; 
    margin-left:20px;
    padding:10px;
}

.bio-box{
/*    display:flex;
    
    align-content: center;
    text-align: center;
    gap:100px;*/
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4%;
}
.bio-content-left{
    border-color: rgba(49, 11, 99, 0.384);
    border-radius: 10px;
    
    margin: 0;
    
}
.bio-content-right{
    background-color: rgba(168, 105, 173, 0.384);
    border-radius: 10px;
    border: solid;
    width: 30%;
    
    
}
.bio-img{
    border: solid;
    border-color: rgba(0, 0, 0, 0.384);
    /*box-shadow: 5px 5px rgba(235, 123, 220, 0.5);*/
    
}
.movies{
    border:solid;
    border-color: rgba(49, 11, 99, 0.384);
    border-radius: 10px;
    width: 480px;
    height: 240px;
    padding:10px;
    margin:20px;
    margin-left:130px ;
}
.music{
    border:solid;
    border-color: rgba(49, 11, 99, 0.384);
    border-radius: 10px;
    width: 480px;
    height: 240px;
    padding:10px;
    margin:20px;
    margin-left: 0px ;
}
.my-info{
    display:flex;
    justify-content: center;
    gap: 100px;
}
.header{
position: absolute;
right: 0;
background-color: aliceblue;
padding: 10px;
}
.block{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
}
.cats{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.block-2{
    width:200px;
    height:200px;
    background-color: rgb(24, 73, 233);
    position: relative;
    top:50%;
    left:50%;
}
.container-3{
    background-color: burlywood;
    border: solid;
    display: flex;
    flex:wrap;
    align-content: space-between;

}
.block-3{
    width:200px;
    height:200px;
    background-color: blue;
}
.container-4{
    background-color: bisque;
    border: solid;
    width:600px;
    height:600px;
}
.block-red{
    border:solid ;
    border-color: red ;
    width:200px;
    height:200px;
    position: relative;
    left:50px;
    top:50px;
}
.block-green{
    border:solid ;
    border-color: green ;
    position: relative;
    width:200px;
    height:200px;
    right:-350px;
    bottom:50px;
}
.block-blue{
    border:solid ;
    border-color: blue ;
    width:200px;
    height:200px;    
    position: relative;
    left:200px
}
.photo-cat{
    position: fixed;
    right: 0px;
    bottom: 0px;
}