table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    margin: 10%;
    margin-left: 20%;
}
th,td{
    padding:5px;
}
th{
    text-align:left;
}
tr:nth-child(even){
    background-color: rgb(245, 179, 190,0.9);
}
tr:nth-child(odd){
    background-color: rgb(169, 232, 252);
}
tr:nth-child(3n){
    background-color: rgb(237, 251, 255);
}
tr:nth-child(1){
    background-color: rgba(168, 157, 159, 0.4);
}
tr:hover{
    background-color: rgb(159, 253, 222);
}